<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1>SignalR Connection Test</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="row">
        <div class="input-group">

          <input type="text" class="form-control" name="messageText" [(ngModel)]="messageText"
            (keyup.enter)="sendMessage()" />
          <div class="input-group-prepend">
            <button type="button" class="btn bg-blue" (click)="sendMessage()">
              Send
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-group pt-1">
          <textarea class="form-control" style="height: 30rem;" readonly>{{MesssagesData}}</textarea>
        </div>
      </div>
    </div>
  </section>
</div>